<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!--- Basic Page Needs
   ================================================== -->
    <meta charset="utf-8" />
    <title>ddordain</title>
    <meta name="description" content="" />
    <meta name="author" content="Dominique DORDAIN" />

    <!-- Mobile Specific Metas
   ================================================== -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../static/css/default.css" />
    <link rel="stylesheet" href="../static/css/layout.css" />
    <link rel="stylesheet" href="../static/css/media-queries.css" />
    <link rel="stylesheet" href="../static/css/magnific-popup.css" />

    <!-- Script
   ================================================== -->
    <script src="../static/js/modernizr.js"></script>

    <!-- Favicons
	================================================== -->
    <link rel="shortcut icon" href="../static/images/favicon.png" />
  </head>

  <body>
    <!-- Header
   ================================================== -->
    <header id="home">
      <nav id="nav-wrap">
        <a class="mobile-btn" href="#nav-wrap" title="Show navigation"
          >Show navigation</a
        >
        <a class="mobile-btn" href="#" title="Hide navigation"
          >Hide navigation</a
        >

        <ul id="nav" class="nav">
          <li class="tab"><a class="smoothscroll" href="#home">Home</a></li>
          <li class="tab"><a class="smoothscroll" href="#about">About</a></li>
          <li class="tab"><a class="smoothscroll" href="#resume">Resume</a></li>
        </ul>
        <!-- end #nav -->
      </nav>
      <!-- end #nav-wrap -->

      <div class="row banner">
        <div class="banner-text">
          <h1 class="responsive-headline">D. Dordain</h1>
          <h3>
            I'm a Paris/Brussels based <span>dev</span>, currently studying at
            42Paris. I also hold a Master of Management with a specialization in
            finance. I have experience working in the financial industry.
          </h3>
          <p>Learn more <a class="smoothscroll" href="#about">about me</a>.</p>

          <hr />
          <ul class="social">
            <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
            <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
            <li>
              <a href="mailto:dordaindominique@gmail.com"
                ><i class="fa fa-envelope"></i
              ></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/dominique-dordain-28b7b8105/"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="https://github.com/ddordain"
                ><i class="fa fa-github"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <p class="scrolldown">
        <a class="smoothscroll" href="#about"
          ><i class="icon-down-circle"></i
        ></a>
      </p>
    </header>
    <!-- Header End -->

    <!-- About Section
   ================================================== -->
    <section id="about">
      <div class="row">
        <div class="three columns">
          <img
            class="profile-pic"
            src="../static/images/profilepic.jpg"
            alt=""
          />
        </div>

        <div class="nine columns main-col">
          <h2>About Me</h2>

          <p align="justify">
            I worked for two years in an investment bank, and I completed
            multiple internships in various financial companies, such as a
            broker and an asset manager. However, I realized that I was more
            interested in technology and wanted to specialize in that field.
            That's why I went back to school to learn how to code and become a
            professional programmer.
          </p>
          <p align="justify">
            Before, I would only code here and there as a hobby, but now I have
            been coding extensively for many hours every day and dedicated to
            learning and improving my skills as a programmer. I am excited to
            see where my new passion will take me.
          </p>
          <p>Maybe with you... ;)</p>

          <div class="row">
            <div class="columns download">
              <p>
                <a href="../static/pdf/ddordain-resume.pdf" class="button"
                  ><i class="fa fa-"></i>Download Resume</a
                >
              </p>
            </div>
          </div>
          <!-- end row -->
        </div>
        <!-- end .main-col -->
      </div>
    </section>
    <!-- About Section End-->

    <!-- Resume Section
   ================================================== -->
    <section id="resume">
      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">
        <div class="three columns header-col">
          <h1><span>Education</span></h1>
        </div>

        <div class="nine columns main-col">
          <div class="row item">
            <div class="twelve columns">
              <h3>Ecole 42 Paris</h3>
              <p class="info">
                Computer Science curriculum<span>&bull;</span>
                <em class="date">since November 2021</em>
              </p>

              <p align="justify">
                I wanted to learn advanced TECH skills and become a proficient
                developer. That's why I decided to study at school 42, a unique
                institution that offers a project-based learning model and
                emphasizes collaboration and peer-to-peer learning. During my
                time at school 42, I learned a wide range of TECH skills,
                including programming in C/C++, data analysis, and critical
                thinking. I also had the opportunity to work on various
                projects, including developing a web application and
                participating in a hackathon on Machine Learning. My experience
                at school 42 was extremely rewarding and has prepared me well
                for a career as a proficient developer. I am grateful for the
                unique education I received and the TECH skills I developed
                during my time there. This website is a showcase of my new
                skills and serves as a testament to the valuable education I
                received at school 42.
              </p>
              <p>
                Learn more
                <a class="smoothscroll" href="https://42.fr/en/homepage/"
                  >about 42</a
                >
                (official website).
              </p>
            </div>
          </div>
          <!-- item end -->

          <div class="row item">
            <div class="twelve columns">
              <h3>IESEG School of Management</h3>
              <p class="info">
                Master Degree in Management with a specialization in finance
                <span>&bull;</span> <em class="date">2012-2018</em>
              </p>

              <p align="justify">
                I was really interested in finance and  markets in general so i
                was looking for a solid education in this field. While I was at
                IESEG, I studied market finance and was able to pass the first
                two levels of the Chartered Financial Analyst (CFA) exam. I also
                learned from experienced professors who had worked in the
                finance industry, and gained practical experience through
                internships and projects. This diploma and commitment led me to
                smoothly get a position after studying. 
              </p>
              <p>
                Learn more
                <a class="smoothscroll" href="https://www.ieseg.fr/en/"
                  >about IESEG</a
                >
                (official website).
              </p>
            </div>
          </div>
          <!-- item end -->
        </div>
        <!-- main-col end -->
      </div>
      <!-- End Education -->

      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">
        <div class="three columns header-col">
          <h1><span>Work</span></h1>
        </div>

        <div class="nine columns main-col">
          <div class="row item">
            <div class="twelve columns">
              <h3>BNP Paribas Fortis CIB</h3>
              <p class="info">
                Counterparty and Financing Risk Analyst <span>&bull;</span>
                <em class="date"> 2019 - 2021</em>
              </p>

              <p align="justify">
                I spent two years working as a Counterparty and Financing Risk
                Analyst on derivatives at BNPP Fortis. In this role, I have been
                responsible for analyzing and managing the risks associated with
                the company's financial transactions involving derivatives. This
                has included evaluating the creditworthiness of the company's
                counterparties, and determining the appropriate level of
                financing for these transactions, mainly through
                collateralization. I have also monitored changes in the
                financial markets, and provided timely and accurate advice on
                how to manage the company's risks in this area.
              </p>
            </div>
          </div>
          <!-- item end -->

          <div class="row item">
            <div class="twelve columns">
              <h3>Société Générale CIB</h3>
              <p class="info">
                Cross Asset Analyst<span>&bull;</span>
                <em class="date">2018/01 - 2018/06</em>
              </p>

              <p align="justify">
                My final internship. In this role, I was responsible for
                analyzing and providing insights on a wide range of financial
                instruments, including equities, fixed income, currencies, and
                commodities. As part of my job, I conducted fundamental analysis
                on various markets and instruments, and used this analysis to
                make informed recommendations to our clients. I also worked
                closely with sales and trading teams to provide market
                intelligence and support trading decisions. One of the most
                rewarding aspects of this job was the ability to work with a
                diverse team of professionals from different backgrounds and
                areas of expertise. I learned a lot from my colleagues and
                gained valuable experience in the financial industry. Overall,
                it was a challenging and rewarding experience that helped me to
                develop my analytical and communication skills.
              </p>
            </div>
          </div>
          <!-- item end -->

          <div class="row item">
            <div class="twelve columns">
              <h3>Kepler Cheuvreux</h3>
              <p class="info">
                Equity Analyst<span>&bull;</span>
                <em class="date">2017/01 - 2017/06</em>
              </p>

              <p align="justify">
                I completed a 6-month internship as an Equity Analyst at Kepler
                Cheuvreux. In this role, I was responsible for conducting
                fundamental analysis on a variety of companies and industries in
                the European market. As part of my internship, I had the
                opportunity to work closely with a team of experienced analysts
                and learn from their expertise. I also had the chance to present
                my research and recommendations to clients. I learn to pitch a
                stock which involve examining financial statements, assessing
                the company's competitive landscape, and considering
                macroeconomic factors that may impact the stock's performance.
              </p>
            </div>
          </div>
          <!-- item end -->

          <div class="row item">
            <div class="twelve columns">
              <h3>Amundi AM</h3>
              <p class="info">
                Product Specialist<span>&bull;</span>
                <em class="date">2016/07 - 2016/12</em>
              </p>

              <p align="justify">
                During my time at Amundi, I had the opportunity to work with a
                highly skilled and knowledgeable team of professionals who
                provided me with invaluable guidance and support. I was
                responsible for supporting the product specialist team in the
                development and management of active European equity strategies,
                including conducting market and industry research, analyzing
                financial data and performance metrics, and preparing materials
                for client presentations.
              </p>
            </div>
          </div>
          <!-- item end -->
        </div>
        <!-- main-col end -->
      </div>
      <!-- End Work -->

      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">
        <div class="three columns header-col">
          <h1><span>Tech</span></h1>
        </div>

        <div class="nine columns main-col">
          <p align="justify">
            As a tech enthusiast, I have had the opportunity to explore and
            learn about a variety of technologies in my journey to learn how to
            code. I am constantly seeking out new tools and resources to expand
            my knowledge and skills.

            Please note that this self-evaluation of my skills is subject to the
            <a
            href="https://en.wikipedia.org/wiki/Dunning%E2%80%93Kruger_effect"
            title="Dunning-Kruger"
            target="_blank"
            > Dunning-Kruger effect
          </a>
            so please consider the confidence level of
            these estimations to be very low ;)
          </p>
          <div class="bars">
            <ul class="skills">
              <li><span class="bar-expand LanguageC"></span><em>C</em></li>
              <li><span class="bar-expand LanguageCPP"></span><em>C++</em></li>
              <li><span class="bar-expand Python"></span><em>Python</em></li>
              <li><span class="bar-expand html5"></span><em>HTML5</em></li>
              <li><span class="bar-expand css"></span><em>CSS</em></li>
              <li><span class="bar-expand javascript"></span><em>Javascript</em></li>
              <li><span class="bar-expand docker"></span><em>Docker</em></li>
              <li><span class="bar-expand linux"></span><em>Linux</em></li>
            </ul>
          </div>
          <!-- end skill-bars -->
        </div>
        <!-- main-col end -->
      </div>
      <!-- End skills -->
    </section>
    <!-- Resume Section End-->

    <!-- footer
   ================================================== -->
    <footer>
      <div class="row">
        <div class="twelve columns">
          <ul class="social-links">
            <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
            <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
            <li>
              <a href="mailto:dordaindominique@gmail.com"><i class="fa fa-envelope"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/dominique-dordain-28b7b8105/"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="https://github.com/ddordain"><i class="fa fa-github"></i></a>
            </li>
          </ul>

          <ul class="copyright">
            <li>&copy; 2022 Dominique Dordain. All rights reserved.</li>
            <li>
              Based on a template by
              <a
                href="http://www.styleshout.com/"
                title="Styleshout"
                target="_blank"
                >Styleshout
              </a>
            </li>
          </ul>
        </div>

        <div id="go-top">
          <a class="smoothscroll" title="Back to Top" href="#home"
            ><i class="icon-up-open"></i
          ></a>
        </div>
      </div>
    </footer>
    <!-- Footer End-->

    <!-- Java Script
   ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
      window.jQuery ||
        document.write('<script src="../static/js/jquery-1.10.2.min.js"><\/script>');
    </script>
    <script
      type="text/javascript"
      src="../static/js/jquery-migrate-1.2.1.min.js"
    ></script>

    <script src="../static/js/jquery.flexslider.js"></script>
    <script src="../static/js/waypoints.js"></script>
    <script src="../static/js/jquery.fittext.js"></script>
    <script src="../static/js/magnific-popup.js"></script>
    <script src="../static/js/init.js"></script>
  </body>
</html>
